/* Film posters container için özel bir sınıf tanımlıyoruz */
.movie-recommendations-container {
    max-width: 1703px; /* Maksimum genişlik */
    margin: 0 auto; /* Ortalanmış görünüm */
    padding: 20px;
  }
  
  /* Film posterleri için düzen */
  .movie-recommendations-container .movie-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 20px 0;
  }
  
  /* Her bir film posterinin stil ayarları */
  .movie-recommendations-container .movie-posters div {
    margin: 15px;
    text-align: center;
    width: 245px; /* İsterseniz genişliği değiştirebilirsiniz */
    transition: transform 0.3s; /* Hover efekti için geçiş */
  }
  
  .movie-recommendations-container .movie-posters div:hover {
    transform: scale(1.05); /* Hover durumunda büyütme efekti */
  }
  
  /* Poster resimlerinin stil ayarları */
  .movie-recommendations-container .movie-posters img {
    width: 100%; /* Resim genişliğini kapsama ayarlama */
    border-radius: 8px; /* Köşe yuvarlama */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Gölge efekti */
  }
  
  /* Film başlıklarının stil ayarları */
  .movie-recommendations-container .movie-posters h3 {
    font-size: 16px; /* Film başlıkları için font boyutu */
    margin-top: 10px;
    font-family: 'Arial', sans-serif; /* Yazı tipi ayarı */
    color: #333; /* Yazı rengi */
  }
  
  /* Responsive tasarım için ayarlamalar */
  @media (max-width: 1200px) {
    .movie-recommendations-container .movie-posters div {
      width: calc(25% - 16px); /* 4 film için genişlik */
    }
  }
  
  @media (max-width: 900px) {
    .movie-recommendations-container .movie-posters div {
      width: calc(33.33% - 16px); /* 3 film için genişlik */
    }
  }
  
  @media (max-width: 600px) {
    .movie-recommendations-container .movie-posters div {
      width: calc(50% - 16px); /* 2 film için genişlik */
    }
  }
  
  @media (max-width: 400px) {
    .movie-recommendations-container .movie-posters div {
      width: 100%; /* Mobilde tekli görünüm */
    }
  }